.u-section-1 .u-sheet-1 {
  min-height: 796px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: -368px 37px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}